body {
    background-image: url(../../../Basic-Portfolio/assets/images/irongrip/irongrip.png);
}

.hname {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    font-weight: 650;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    padding: 20px 40px 40px 40px;
}

.about {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 650;
}

.ptxt {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    padding: 10pt;

}

.text {
    background-color: #4aaaa5;
    color: white;
    padding: 20px 0px;
    text-align: center; 
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 3;
}

.formtext {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

.submit {
    background-color: #4aaaa5;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 12pt; 
}

.botnav {
    border-top: 8px solid #4AAAA5;
    background-color: #666666;
    padding: 20px;
}

a:hover {
    text-decoration: none;
    color: white;
}


