body {
    background-image: url(../../../Basic-Portfolio/assets/images/irongrip/irongrip.png);
}

.hname {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    font-weight: 650;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: 150px auto;
    padding: 20px 40px 40px 40px;
}

.about {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 650;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    padding: 10pt;

}